.error{
   padding-top: 50px; 
   display: flex;
   align-items: center;
   justify-content: center;
}
.error-body{
    text-align: center;
}
.error-image{
    max-width: 100%;
    margin-bottom: 15px;
}
.error-description{
    color: #F09819;
    font-size: 30px;
}